@model DetailSliderVM
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider Update</h4>
            <p class="card-description">
                Basic form elements
            </p>
            <form class="forms-sample" asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <img src="~/img/@Model.Image" width="200px" height="300px">
                </div>
                <a class="btn btn-light" asp-action="Index">Go back</a>
            </form>
        </div>
    </div>
</div>